*.pyc
*~
__pycache__/
/.version
/.vscode
/MANIFEST
/build/
/dist/
/icat.cfg
/icat/__init__.py
/tests/.cache/
/tests/data/example_data.yaml
/tests/data/icat.cfg
/tests/data/icatdump.xml
/tests/data/icatdump.yaml
/tests/data/ingest-*.xml
/tests/scripts/
