*.pyc
*~
__pycache__/
/MANIFEST
/build/
/dist/
/doc/doctest/
/doc/doctrees/
/doc/html/
/doc/latex/
/doc/linkcheck/
/icat.cfg
/icat/__init__.py
/python2_6.patch
/tests/.cache/
/tests/data/example_data.yaml
/tests/data/icat.cfg
/tests/data/icatdump.xml
/tests/data/icatdump.yaml
/tests/data/ingest-*.xml
/tests/scripts/
