__pycache__/
/.local/
/MANIFEST
/_meta.py
/build/
/dist/
/tests/data/example_data.yaml
/tests/data/icat.cfg
/tests/data/icatdata-*.xsd
/tests/data/icatdump-*.xml
/tests/data/icatdump-*.yaml
/tests/data/ingest-*.xml
/tests/data/ingest-*.xsd
/tests/data/ingest.xslt
/tests/data/metadata-*-inl.xml
/tests/data/metadata-*-sep.xml
/tests/data/metadata-sample.xml
/tests/scripts/
