include CHANGES.rst
include LICENSE.txt
include MANIFEST.in
include README.rst
include _meta.py
include doc/examples/*.py
include doc/examples/example_data.yaml
include doc/examples/icat.cfg
include doc/examples/icatdump-*.xml
include doc/examples/icatdump-*.yaml
include doc/examples/ingest-*.xml
include doc/examples/metadata-*.xml
include doc/examples/metadata.xml
include doc/icatdata*.xsd
include doc/man/*
include doc/tutorial/*.py
include etc/ingest-*.xsd
include etc/ingest.xslt
include tests/conftest.py
include tests/data/ingest-env.xslt
include tests/data/legacy-icatdump-*.xml
include tests/data/legacy-icatdump-*.yaml
include tests/data/metadata-*.xml
include tests/data/myingest.xsd
include tests/data/myingest.xslt
include tests/data/ref-icatdump-*.xml
include tests/data/ref-icatdump-*.yaml
include tests/data/summary*
include tests/pytest.ini
include tests/test_*.py
