include CHANGES
include LICENSE.txt
include MANIFEST.in
include README.rst
include doc/examples/*.py
include doc/examples/example_data.yaml
include doc/examples/icat.cfg
include doc/examples/icatdump.xml
include doc/examples/icatdump.yaml
include doc/examples/ingest-*.xml
include doc/html/*.html
include doc/html/*.js
include doc/html/_static/*
include doc/html/objects.inv
include doc/icatdata*.xsd
include icatinfo.py
include tests/conftest.py
include tests/data/summary*
include tests/pytest.ini
include tests/test_*.py
