include CHANGES
include COPYING
include MANIFEST.in
include icatinfo.py
include python2_6.patch
include doc/api/*
include doc/icatdata*.xsd
include doc/examples/*.py
include doc/examples/icat.cfg
include doc/examples/example_data.yaml
include doc/examples/icatdump.yaml
include doc/examples/icatdump.xml
include doc/examples/ingest-*.xml
include doc/examples/cgi/*.py
include doc/examples/cgi/icat.cfg
include doc/examples/cgi/cgi-html.yaml
include tests/conftest.py
include tests/test_*.py
include tests/data/summary*
