[root]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = simple
username = root
password = secret
idsurl = https://icat.example.com:8181/ids
# uncomment, if your server does not have a trusted certificate
#checkCert = No

[idsreader]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = simple
username = idsreader
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No

[useroffice]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = simple
username = useroffice
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No

[acord]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = db
username = acord
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No

[ahau]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = db
username = ahau
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No

[jbotu]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = db
username = jbotu
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No

[jdoe]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = db
username = jdoe
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No

[nbour]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = db
username = nbour
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No

[rbeck]
url = https://icat.example.com:8181/ICATService/ICAT?wsdl
auth = db
username = rbeck
password = secret
idsurl = https://icat.example.com:8181/ids
#checkCert = No
